.col {
    width: 50vw; 
    margin-top: 25vh;
}

.texto{
    font-weight: bolder;
    text-decoration: none;
    font-size: 50px;
    color: black;
}

.textosub{
    font-weight: bolder;
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.boxtext{
    max-width: 125px;
}

.info-container{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}




